* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
}

.main {
    height: 100vh;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border: medium solid red;
    justify-content: center;
}

.flex-container.section-two {
    column-gap: 2em;
    height: 50%;
    align-items: space-around;
}

.nav,
.header {
    border: medium solid blue;
    width: 100%;
}

.header {
    align-self: flex-start;
}

.flex-item {
    display: flex;
    border: medium solid green;
    flex: 0 1 auto;
    align-items: center;
}

.flex-item h1 {
    margin: 0;
    padding: 0;
}

.flex-item div {
    max-width: 30vw;
}

.flex-item.section-two {
    height: 200px;
    width: 160px;
}

.header-img {
    height: auto;
    max-width: 40vw;
    min-width: 200px;
}

@media (max-width: 600px) {
    .flex-item div {
        max-width: 60vw;
        min-width: 200px;
    }
    .header-img {
        max-width: 60vw;
    }
}