* {
    box-sizing: border-box;
}

.html, body {
    margin: 0;
    padding: 0;
}

.container {
    height: 50vh;
    border: medium solid green;
}

.flex-container {
    border: medium solid red;
    display: flex;
    flex-wrap: wrap;
    height: calc(100% - 24px);
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    column-gap: 1em;
}

.nav {
    align-self: start;
    border: medium solid yellow;
    width: 100%;
}

.flex-item {
    border: medium solid blue;
    flex: 1 1 auto;
}